<div class="container">
  <div>
    <h1 class="display-4 text-black text-center">WELCOME TO MY SPRINT 7</h1>
  </div>
  <div>
    <div class="row ">
      <div class="col-md-6 mt-3">
        <h2>Funcionamiento de la Web</h2>
      </div>

      <p>Esta web esta diseñada para calcular un presupuesto y tenemos tres opciones que podemos escoger</p>
      <ul class="ms-5">
        <li>Hacer una pagina web basica por 500€</li>
        <li>Hacer una cosultoria SEO por 300€</li>
        <li>Hacer una campaña de Google Adds por 200€</li>
      </ul>
      <p>Dentro de la opcion de crear una pagina web, podemos seleccionar el numero paginas y el numero  idiomas de la web que el cliente quiere realizar. </p>
  </div>

  <h4>Puedes ir directamente clicando el boton o seleccionando en el menu "Home"</h4>
  <div>
    <a href="/home" class="btn btn-secondary">Home</a>
  </div>
</div>
  
   

        

            
         
